*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    height: 100vh;
    background: #131313;
    color: #ddd;
}

a{
    text-decoration:none;
    color:inherit;
}

.container{
    width:90%;
    height: 100vh;
    margin:auto;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 0;
}

.logo{
    font-weight:bold;
    font-size:22px;
}

.logo span{
    color:#ff7a00;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-right{
    display:flex;
    align-items:center;
    gap:20px;
}

.nav-icon{
    width:30px;
    cursor:pointer;
}

.profile{
    width:35px;
    height:35px;
    border-radius:50%;
    object-fit: cover;
}

/* HERO SECTION */
.hero{
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:60px 0;
}

.hero-text h1{
    font-size:48px;
    line-height:1.2;
}

.hero-text h1 span{
    color:#ff7a00;
}

.hero-text p{
    margin:20px 0;
    color:#666;
}

.btn{
    background:#ff7a00;
    color:#fff;
    padding:12px 25px;
    border:none;
    border-radius:8px;
    cursor:pointer;
}

.hero-img img{
    width:580px;
}

/* SERVICE SECTION */
.services{
    width: 100%;
    background:#ff7a00;
    color:#fff;
    padding:24px 0;
    display:flex;
    justify-content:space-around;
}

.service-box{
    text-align:center;
}

/* PRODUCT PAGE */
.product-section{
    display:flex;
    /* justify-content: space-evenly; */
    gap:200px;
    padding:50px 0;
}

.product-img img{
    width:400px;
}

.product-info h2{
    font-size:28px;
}

.price{
    width: 120px;
    font-size:30px;
    background-color: rgba(102, 102, 102, 0.3);
    color:#1e5eff;
    margin:15px 0;
    text-align: center;
    border-radius: 5px;
}

.sale{
    color:green;
}

.qty{
    display:flex;
    align-items:center;
    gap:10px;
    margin:20px 0;
}

.qty input{
    width:60px;
    padding:5px;
    text-align:center;
}

.gallery{
    display:flex;
    gap:50px;
    overflow-x:auto;
    padding:20px 0;
}

.gallery img{
    width:120px;
    border: 2px solid #ddd;
    border-radius:10px;
}

/* CART PAGE */
.cart-container{
    margin: 50px;
    display:flex;
    justify-content: space-between;
    gap:50px;
    padding:40px 0;
}

.product-list{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
}

.product-list a{
    width: 200px;
    font-weight: bold;
    background: #ff7a00;
    padding: 15px;
    border-radius: 10px;
}

.cart-table{
    width:100%;
}

.cart-table th, .cart-table td{
    padding:15px;
    text-align:left;
}

.summary{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding:25px;
    border: 2px solid white;
    border-radius:10px;
    width:450px;
}

.summary input{
    width:100%;
    padding:10px;
    margin:10px 0;
}

.summary button{
    font-weight: bold;
    width:100%;;
}

.total{
    font-weight:bold;
    margin-top:10px;
}

.summary img{
    width: 200px;
    padding: 10px;
    background-color: #ddd;
    border-radius: 10px;
}

/* PAYMENT PAGE */
.checkout{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    gap:50px;
    padding:40px 0;
}

.checkout-left{
    display: flex;
    flex-direction: column;
    align-items: space-between;
    justify-content: center;
    /* gap: 10px; */
    padding:30px;
    border: 2px solid white;
    border-radius:10px;
    width:500px;
}

.checkout-left input, select{
    width:100%;
    padding:10px;
    margin:10px 0;
}

.payment-options{
    display:flex;
    gap:10px;
    margin:15px 0;
}

.payment-options button{
    padding:10px 15px;
    border:1px solid #ddd;
    background:#ff7a00;
    color: #fff;
    font-weight: bold;
    border-radius:8px;
    cursor:pointer;
}